body {
    margin: 25px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.equipment {
    width: 240px;
    border: 1px solid black;
    font-size: smaller;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.rack-unit-position {
    color:gray; 
} 

.equipment:hover {
    background-color: lightgray;
}

.free-space {
    border: 1px solid lightgray;
    color:gray;
}

.dragging {
    background-color: lightgray;
}

.size-1u {
    height: 17px;
    line-height: 17px;
}

.size-2u {
    height: 37px;
    line-height: 37px;
}

.size-3u {
    height: 57px;
    line-height: 57px;
}

.blue {
    color: blue;
    border-color: lightblue;
}

.blue:hover {
    background-color: lightblue;
}

.server-t52 {
    background-image:url(sun-server-t5-2.gif);
}

.rack-42u {
    width: 244px;
    height: 841px; /* (13 + 3)*42 + 1 */
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    margin-left: auto;
    margin-right: auto;
}